.description .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.description {
    padding: 80px 0;
}

@media screen and (max-width: 767px) {
    .description .container {
        grid-template-columns: 1fr;
        align-items: center;
        gap: 25px;
    }

    .description {
        padding: 50px 0;
    }
}