.contact-us {
    background-color: var(--main-color);
    text-align: center;
    padding: 40px 0;
}

.contact-us .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
