.information-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

@media screen and (max-width: 767px) {
    .information-item {
        flex-direction: column;
    }
}

