.footer__description {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 767px) {
    .footer__description {
        flex-direction: column;
        gap: 26px;
    }
}